* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-image: url(./image/dark-bg.jpg);
    display: grid;
    grid-template-rows: 600px 250px; 
}

.div-img {
    height: 700px;
    background-image: url(./image/banner-bg.jpg);
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.container-nav1 {
    width: 1250px;
    height: 90px;
    background-color: #ffffff;
    margin-left:35px;
    margin-top: 30px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    
}

li a:hover {
    padding: 8px;
    background-color:#5B63B7;
    color: #ffffff;
    border-radius: 30px;
}

.img-logo{
    padding-left: 35px;
}

li a {
    text-decoration: none;
    color: #000000;
}

ul{
    display: grid;
    grid-template-columns: 100px 100px 120px 100px 100px;
    list-style: none;
    text-decoration: none;
}

.container-header{
    margin: 10%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.section-apresentacao {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#font-h1 {
    font-size: 40px;

}

.div-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.div-link {
    color: #ffffff;
    border: 2px solid #5B63B7;
    width: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 0px;
}

div a:hover {
    background-color: #5B63B7;
}

/* css da main*/

.container-main {
    height: 900px;
    margin-top: 200px;
    text-align: center;
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

span{
    color:#5B63B7;
}

.section-main{
    margin: 30px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 150px 150px 150px 155px 150px 150px ;
    justify-content: space-around;
    align-items: center;
}

.section-main a {
    background-color: #363636;
    box-shadow: 0px 0px 5px #d9d9d9;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
}

.section-div-img {
    display: inline-block;
    padding: 20%;
    line-height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    margin-bottom: 25px;
}
.section-colecao{
    box-sizing: content-box;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-colecao {
    width: 380px;
    height: 170px;
    padding: 0px 10px;
    border-radius: 0px 0px 20px 20px;
    background-color: #363636;
    display: grid;
    justify-content:space-between;
    grid-template-areas:
        'divh3 divh3 '
        'p1 p2'
        'h3 blockc'
    ;
}

.div-h3 {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
    grid-area: divh3;
    border-bottom: 2px solid #4F4F4F;
}

.div-p1 {
    grid-area: p1;
    margin-top: 10px;
}

.div-p2 {
    grid-area: p2;
    margin-top: 10px;
}

h3 {
    grid-area: h3;
    margin-bottom: 30px;
}

.blockc {
    grid-area: blockc;
}

.div-explore {
    position: absolute;
    width: 200px;
    height: 40px;
    padding: 10px;
    margin: 150px  0px 0px 70px;
    background-color:#5B63B7;
    border-radius: 20px;
    border-bottom: 2px solid white;
}
