*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

footer{
    background-color: #363637;
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-01{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
}

.section-02{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
}

.section-02-div{
    width: 300px;
    height: 100px;
    display: flex;
}

.section-03{
    height: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-03-div{
    display: flex;
    gap: 10px;
}

hr{ height: 50px; 
    margin-right: 10px;
}

strong{ 
    color: #F9F871;
}

.bg__img{
    width: 245px;
    height: 80px;
    background-image: url(./imagens/questao06.01.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
