* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section-container {
    width: 100%;
    height: 100%;
    display: flex;
}

div{
    display: flex;
    width: 150px;
    height: 150px;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 200px;
    margin: 0 auto;
}

.section-div1 {
    background-image: url(./imagens/questao01.01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}
.section-div2 {
    background-image: url(./imagens/questao01.02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div3 {
    background-image: url(./imagens/questao01.03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div4 {
    background-image: url(./imagens/questao01.04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div5 {
    background-image: url(./imagens/questao01.05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div6 {
    background-image: url(./imagens/questao01.06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div7 {
    background-image: url(./imagens/questao01.07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div8 {
    background-image: url(./imagens/questao01.08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div9 {
    background-image: url(./imagens/questao01.09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div10 {
    background-image: url(./imagens/questao01.10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div11 {
    background-image: url(./imagens/questao01.11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div12 {
    background-image: url(./imagens/questao01.12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div13 {
    background-image: url(./imagens/questao01.13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div14 {
    background-image: url(./imagens/questao01.14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div15 {
    background-image: url(./imagens/questao01.15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.section-div16 {
    background-image: url(./imagens/questao01.16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000, 0 0 1rem #000000;
}