/*  */

.height100 {
    height: 100px;
}

.height400 {
    height: 400px;
}

.col-3 {
    background-color: aqua;
    height: 50px;
    border: 1px solid black;

}

.borderBlack {
    border: 1px solid black;
    height: 200px;
}