@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Krona+One&family=Montserrat:wght@400;600&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     }
 li a { 
        text-decoration: none !important;
        color: #ffffff;
     }

.container { 
    display: grid; 
    grid-template-rows: 700px 250px repeat(3, 450px) 100vh 100px; 
    font-family: 'poppins', sans-serif;
}

.div-bg {
    background-image: url(./image/banner-bg.jpg );
    border-radius: 0px 0px 50px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 150px 1fr;
}

nav {

     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-content: space-between;
     align-items: center;
     padding-left: 60px;
 }

ul { 
    display: grid;
    grid-template-columns: 100px 100px 1fr 100px 100px;
    list-style: none;
    place-items: center;
    
}

header {
    color: #ffffff;
    display: grid;
    padding-left: 60px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 50px 150px 150px;
    align-items: end;
    grid-template-areas:
        'headerH5 headerImg'
        'headerH2 headerImg'
        'headerP headerImg' 
        'headerForm headerImg'
    ;
}

.header-h5 {
    grid-area: 
        headerH5;
}

.header-h2 {
    grid-area: headerH2;
}

.header-p {
    grid-area: headerP;
}

.header-img {
    grid-area: headerImg;
}

.header-form {
    grid-area: headerForm;
}

.container-section {
    color: #000000;
    display: grid;
    grid-template-columns: repeat(4, 250px);  
    justify-content: space-around; 
}
.container-section a {
    box-shadow: 0px 0px 15px #d9d9d9;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 45px;
}

.section-div {
    display: inline-block;
    padding: 7.5%;
    line-height: 90px;
    background-color: #0071f8;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    margin-bottom: 25px;
}

.container-populares {
    display: grid;
    grid-template-areas:
        'popularesH6 popularesA'
        'popularesH2 popularesA'
        'popularesSection popularesSection'
    ;
}

.populares-h6 {
    grid-area: popularesH6;
}

.populares-h2 {
    grid-area: popularesH2;
}

.populares-a {
    grid-area: popularesA;
}

.populares-section {
    grid-area: popularesSection;
    display: grid;
    grid-template-columns: repeat(4,22.5%);
    justify-content: space-around;
}
.container-topgames {
    background-color: #d9d9d9;
    border-radius: 0px 0px 15px 15px;
    display: grid;
    grid-template-areas: 
       'topgamesH6 topgamesA'
       'topgamesH2 topgamesA'
       'topgamesSection topgamesSection'
    ;
}

.topgames-h6 {
    grid-area: topgamesH6;
}
.topgames-h2{
    grid-area: topgamesH2;
} 

.topgames-a {
    grid-area: topgamesA;
}

.topgames-section {
    grid-area: topgamesSection;
    display: grid;
    grid-template-columns: repeat(6, 14.5%);
    justify-content: space-around;
}

main {
    background-color: aquamarine;
    border: 2px solid black;
}

footer {
    background-color: #0071f8;
    border-radius: 98px 98px 0px 0px;
}

p {
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}